<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Macopedia_Allegro::allegro" title="Allegro" translate="title" module="Macopedia_Allegro" sortOrder="20" parent="Magento_Sales::sales" resource="Macopedia_Allegro::allegro" />
        <add id="Macopedia_Allegro::orders_with_errors" title="Allegro orders with errors" module="Macopedia_Allegro" sortOrder="10" action="allegro/orders" resource="Macopedia_Allegro::orders_with_errors" parent="Macopedia_Allegro::allegro"/>
        <add id="Macopedia_Allegro::reservations" title="Allegro reservations" module="Macopedia_Allegro" sortOrder="20" action="allegro/reservations" resource="Macopedia_Allegro::reservations" parent="Macopedia_Allegro::allegro"/>
    </menu>
</config>
